body{background:black;
color:gold;
padding:10px;
font-family:Arial,sans-serif}

#all-contents{
    max-width: 800px;
    margin:auto;
}

nav{
    background: rgb(201, 203, 24);
margin:0 auto;
display: flex;
padding: 10xp}

h1{display:flex;
align-items:center;
color: white;
flex:1;
margin:0;}

#nav-ul{list-style-type: style type none;
margin:0;
padding:0 10px;}

a{text-decoration:none
color#e2d10f};
main{background:rgba(245, 238, 219, 0);
display:flex;
margin-top:20px}

.sidebar{margin-right:25px;
padding:10px;}
.sidebar-img{width: 600px}
.content{flex:1;
padding:15px;}
#interests{border:4px rgb(255, 255, 255);
padding:8px;
padding:8px;
margin-top:20px}
h2,h3{margin:0px}
.content h1{color:black;}
#portfolio{list-style-type:none;
padding-left:0;}
#portfolio li{background:#fff;
padding:10px;
border-radius:10px;
margin-bottom:10px;}
#portfolio li:hover{background:#eee;}
#portfoli a{text-decoration:none;
color:454545;}